{{> head }}

{{> navbar }}    

<div class="row">

   <div class="col-8">
      <h1>Zelda</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor id ratione, quos deserunt dolores, dolorum blanditiis at voluptatum ut aliquid expedita illo commodi incidunt voluptas quod dicta tempora assumenda!</p>   
   </div>

   <div class="class-4">
      <img src="assets/img/zelda.png" alt="" class="img-thumbnail">
   </div>
</div>

{{> footer}}